<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>wifi observer</title>
        <link rel="stylesheet" href="/static/d3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/d3/css/dc.min.css">
        <style>
          .inline {
            display: inline-block;
          }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="/static/d3/js/d3.min.js"></script>
        <script src="/static/d3/js/crossfilter.min.js"></script>
        <script src="/static/d3/js/dc.min.js"></script>
        <style>
            #linechart-conn-time, #linechart-dhcp-time {
                margin-top: -20px;
            }
            #linechart-conn-time svg g.axis.y,
            #linechart-dhcp-time svg g.axis.y {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>wifi observer</h1>
            <div id="datacount-projects">
                <p>
                    Showing <span class="filter-count"></span> out of <span class="total-count"></span> connections.
                    <a href='javascript:dc.filterAll(); dc.renderAll();'>Reset Filters</a>
                </p>
            </div>
            <hr style="display: table-caption;">
            <div>
              <p class="inline">showing results from week:
                <span id="data_week_start">{{ week.start }}</span>
                 to
                <span id="data_week_end">{{ week.end }}</span>
                 in the year:
                <span id="data_year">{{ week.year }}</span>
                 |
                 <a href="/d3/{{ week.previous_year }}/{{ week.prev }}">< Previous</a>
                 <a href="/d3/{{ week.next_year }}/{{ week.next }}">Next ></a>
                  | Go to week
                <form class="inline" id="custom_selector" action="#" onsubmit="return changeWeek();">
                  <input id="custom_week" type="text">
                  <input type="submit">
                </form>
              </p>
              <script>
                function changeWeek() {
                  var tmp = parseInt($("input#custom_week").val()) % 53;
                  if(tmp == 0) {
                    tmp = 1;
                  }
                  $("form#custom_selector").attr("action", "/d3/{{ week.year }}/" + tmp);
                }
              </script>
            </div>
            <div style="clear:both;"></div>

            <div>
                <h4>BSSID</h4>
                <div id="rowchart-bssid"></div>
            </div>
            <div>
                <h4>Connection</h4>
                <div id="piechart-conn"></div>
            </div>
            <div>
                <h4>DHCP</h4>
                <div id="piechart-dhcp"></div>
            </div>
            <div>
                <h4>SSID</h4>
                <div id="piechart-ssid"></div>
            </div>
            <div style="clear:both;"></div>

            <div>
                <h4>Failed Connections / Hour</h4>
                <div id="linechart-conn-failure"></div>
                <div id="linechart-conn-time"></div>
            </div>
            <div style="clear:both;"></div>

            <div>
                <h4>Failed DHCP / Hour</h4>
                <div id="linechart-dhcp-failure"></div>
                <div id="linechart-dhcp-time"></div>
            </div>
            <div style="clear:both;"></div>

            <table id="datatable-projects" class="table table-condensed table-hover">
                <thead>
                <tr class="header">
                    <th>Timestamp</th>
                    <th>Connection</th>
                    <th>DHCP</th>
                    <th>SSID</th>
                    <th>BSSID</th>
                    <th>DB ID</th>
                </tr>
                </thead>
            </table>
        </div>
        <script src="/static/d3/js/graph_builder.js"></script>
    </body>
</html>
