body {
  font-family: sans-serif;
  font-size: x-small;
}

.inline {
  display: inline-block;
}

p.dia_text {
  text-align: center;
}

img.dia_img {
  width: 100%;
  padding-top: 0.4em;
  display: inline-block;
}

p {
  height: 0;
  line-height: 0;
  margin: 0;
}

h1 {
  height: 0;
  line-height: 0;
}

h3 {
  height: 0;
  line-height: 0;
}

h4 {
  height: 0;
  line-height: 0;
}
