<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="static/base.css" \>
</head>
<body>
  <h1>ETH WiFi Observer</h1>
  <h4>I will watch over your wifi connections.</h4>
  <h3 style="color: red; font-weight: bold;">Sorry for not having stats for DHCP per BSSID, this was due a bug in my program. (it is fixed now and should log)</h3>
  <div>
     <h3><b>Global Stats</b></h3>
     <h4>Total</h4>
     {% for stat in glob.stats.total %}
       {% include 'stat_box.html' %}
     {% endfor %}
     <h4>SSIDs</h4>
     {% for stat in glob.stats.ssids %}
       {% include 'stat_box.html' %}
     {% endfor %}
     <h4>BSSIDs</h4>
     {% for stat in glob.stats.bssids %}
       {% include 'stat_box.html' %}
     {% endfor %}
  </div>
  <hr>
  {% for dia in diagrams %}
    <div>
      <p class="dia_text">{{ dia.date }}</p>
      <img class="dia_img" alt="diagram: {{ dia.date }}" src="/get/{{ dia.date }}" />
      <div>
        <h4>Total</h4>
        {% for stat in dia.stats.total %}
          {% include 'stat_box.html' %}
        {% endfor %}
        <h4>SSIDs</h4>
        {% for stat in dia.stats.ssids %}
          {% include 'stat_box.html' %}
        {% endfor %}
        <h4>BSSIDs</h4>
        {% for stat in dia.stats.bssids %}
          {% include 'stat_box.html' %}
        {% endfor %}
      </div>
    </div>
   <hr>
  {% endfor %}
</body>
